body{
        background-color: hsl(30, 38%, 92%);
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100dvh;
}

@media (min-width: 320px){

    .container{
        background-color: hsl(0, 0%, 100%);
    }

    #img1{
        width: 100%;
        height: auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    #desktopimg{
        display: none;
}

    .info{
        font-family: "Fraunces";
        font-size: 0.8rem;
        font-weight: 500;
        color: hsl(212, 21%, 14%);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .info p{
        font-family: "Montserrat";
        font-weight: 500;
        color: hsl(228, 12%, 48%);
        font-size: 0.8rem;
    }

    .info h2{
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 0.7rem;
            color: hsl(228, 12%, 48%);
            margin-top: 1.5rem;
        }
    
    .price{
        padding-left: 1.5rem;
        margin-top: -1rem;
        font-family: "Fraunces";
        :nth-child(2){
            display: inline-block;
            color: hsl(228, 12%, 48%);
            margin-left: 1rem;
           vertical-align: 30%;
           font-size: 0.8rem;
        }
    }

    .price h1{
        display: inline-block;
            color: hsl(158, 36%, 37%);
            font-size: 1.8rem;
    }

    .box{
        background-color: hsl(158, 36%, 37%);
        border-radius: 0.5rem;
        margin-bottom: 2rem;
        margin-inline: 1.5rem;
    }

    .cart{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        :nth-child(1){
            display: inline-block;
            vertical-align: -15%;
        }
        
        :nth-child(2){
            display: inline-block;
            font-family: "Montserrat";
            font-weight: 700;
            color: hsl(0, 0%, 100%);
            font-size: 0.8rem;
        }
    }
}

@media (min-width: 768px){

    .container{
        display: flex;
        flex-direction: row;
        width: 40rem;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
    }
    
    #img1{
        display: none;
    }

    #desktopimg{
        display: block;
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .info{
        font-family: "Fraunces";
        font-size: 0.8rem;
        font-weight: 500;
        color: hsl(212, 21%, 14%);
        padding-left: 2rem;
        padding-right: 3rem;
    }

    .info p{
        font-family: "Montserrat";
        font-weight: 500;
        color: hsl(228, 12%, 48%);
        font-size: 0.9rem;
        width: 15rem;
        line-height: 1.3rem;
    }

    .info h1{
        width: 15rem;
        font-size: 2rem;
    }

    .info h2{
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 0.8rem;
            color: hsl(228, 12%, 48%);
            margin-top: 2rem;
        }

        .price{
        padding-left: 2rem;
        margin-top: 0rem;
        font-family: "Fraunces";
        :nth-child(2){
            display: inline-block;
            color: hsl(228, 12%, 48%);
            margin-left: 1rem;
           vertical-align: 40%;
           font-size: 0.8rem;
        }
    }

    .price h1{
        display: inline-block;
            color: hsl(158, 36%, 37%);
            font-size: 2rem;
    }

    .box{
        background-color: hsl(158, 36%, 37%);
        border-radius: 0.5rem;
        margin-left: 2rem;
        margin-right: 3rem;
        margin-top: 1rem;
        height: 3rem;
    }

    .cart{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        line-height: 1.5rem;
        :nth-child(1){
            display: inline-block;
        }
        
        :nth-child(2){
            display: inline-block;
            font-family: "Montserrat";
            font-weight: 700;
            color: hsl(0, 0%, 100%);
            font-size: 0.8rem;
        }
    }
}